body {
	background-color: #640a01;
}
#ad_sub_cat_widget, #ad_cat_widget, #ad_item_widget {
    max-width: 685px;
}
.ad-item-title{
    height: 29px;
    overflow: hidden;
}
}
a{
  text-decoration: underline;
}
.slick-prev.slick-arrow {
	background: url(https://alltay.github.io/blocks/left.png) no-repeat;
	height: 55px;
	width: 25px;
    opacity: .7;
}
.slick-next.slick-arrow{
	background: url(https://alltay.github.io/blocks/right.png) no-repeat;
	height: 55px;
	width: 25px;
	opacity: .7;
}
.ad-item_url, .ad-item_url:hover {
	color:white;
}
.ad-button-buy,  .ad-button-buy:hover{
    background: url(https://www.mirkrestikom.ru/diz/mirkrestikom6/images/button-buy2.png) no-repeat;
    line-height: 28px;
    font-size: 12px;
    padding: 5px 10px 7px 10px;
    font-family: Verdana;
    color: #000;
    text-decoration: none;
}
.np.col-6 {
    font-size: 10px;
    color:#F2D63E;
    padding-right: 3px !important;
    padding-left: 3px !important;
}